* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial serif;
    background-color: #fff;
    color: #000000;
}
table {
    margin: 0 auto;
    border: 1px solid #000000;
}
caption {
    margin: 0 auto;
    padding: .2em;
    font-size: 1.2em;
    font-weight: bold;
}
th {
    text-align: left;
    border: 1px dotted #699;
    font-weight: normal;
    font-style: italic; 
    background-color: #9cc; 
    color: #000000;
}
th,td {
    width: 10em;
    padding: 0.5em;
}
tr:nth-child(odd) {
    background-color: #ffc;
}
tr:nth-child(even) {
    background-color: #fff;
}
